<!DOCTYPE html>
<html>

<head>
  <title>Waïlde</title>
  <!-- bootscrap stylesheet -->
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.0/css/bootstrap.min.css" integrity="sha384-9gVQ4dYFwwWSjIDZnLEWnxCjeSWFphJiwGPXr1jddIhOegiu1FwO5qRGvFXOdJZ4" crossorigin="anonymous">
  <!-- personnal stylesheet -->
  <link href="https://fonts.googleapis.com/css?family=Poppins|Quicksand|Raleway" rel="stylesheet">
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.13/css/all.css" integrity="sha384-DNOHZ68U8hZfKXOrtjWvjxusGo9WQnrNx2sqG0tfsghAvtVlRW3tvkXWZh58N9jp" crossorigin="anonymous">
  <link rel='stylesheet' href='/stylesheets/style.css' />
</head>

<body>

  <!-- START NAV BAR -->
  <nav class="navbar navbar-expand-md navbar-light bg-light">
    <a class="navbar-brand" href="/">
      <img src="/images/assets/nav/eagle.png" width="30" height="30" alt="">
    </a>
    <a class="navbar-brand" href="/"><span class="bold">Waïlde</span></a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target=".dual-collapse2">
              <span class="navbar-toggler-icon"></span>
          </button>
    <div class="navbar-collapse collapse w-100 order-1 order-md-0 dual-collapse2">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item">
          <a class="nav-link" href="home">Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="search-trip">Trips</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="experience">Experience</a>
        </li>
      </ul>
    </div>
    <div class="navbar-collapse collapse w-100 order-2 dual-collapse2">
      <ul class="navbar-nav ml-auto">
        <li class="nav-item">
          <a class="btn btn-outline-light nav-btn" data-toggle="modal" data-target="#modalPartenaire" href="#">Partenaires</a>
        </li>
        <li class="nav-item">
          <a class="btn btn-outline-light nav-btn" data-toggle="modal" data-target="#modalSignIn" href="#">SignIn</a>
        </li>
        <li class="nav-item">
          <a class="btn btn-outline-light nav-btn" data-toggle="modal" data-target="#modalSignUp" href="#">SignUp</a>
        </li>
      </ul>
    </div>
  </nav>

  <!-- Modal Partenaire-->
  <div class="modal fade" id="modalPartenaire" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">Partenaires, Bienvenue !</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <p>Vous êtes prestataire de voyages naturels ? Visitez votre espace ici !</p>
          <a class="btn btn-success" href="partner">Embarquez !</a>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Fermer</button>
        </div>
      </div>
    </div>
  </div>

  <!-- Modal SignIn-->
  <div class="modal fade" id="modalSignIn" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">Entreprises, Bienvenue !</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <form method="POST" action="/signin">
            <div class="form-group">
              <label for="exampleInputEmail1">Adresse Email</label>
              <input name="email" type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Votre adresse pro">
              <small id="emailHelp" class="form-text text-muted">Nous gardons vos données en sécurité !</small>
            </div>
            <div class="form-group">
              <label for="exampleInputPassword1">Mot de passe</label>
              <input name="password" type="password" class="form-control" id="exampleInputPassword1" placeholder="Mot de passe secret">
            </div>
            <button type="submit" class="btn btn-success">Connexion</button>
          </form>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Fermer</button>
        </div>
      </div>
    </div>
  </div>

  <!-- Modal SingUp-->
  <div class="modal fade" id="modalSignUp" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">Entreprises, Enregistrez-vous !</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <form method="POST" action="/signup">
            <div class="form-group">
              <label>Nom</label>
              <input name="nom" type="text" class="form-control" placeholder="Votre nom">
            </div>
            <div class="form-group">
              <label>Prénom</label>
              <input name="prenom" type="text" class="form-control" placeholder="Votre prénom">
            </div>
            <div class="form-group">
              <label>Raison sociale</label>
              <input name="raisonsociale" type="text" class="form-control" placeholder="Entreprise, CE, Groupe...">
            </div>
            <div class="form-group">
              <label>Position</label>
              <input name="raisonsociale" type="text" class="form-control" placeholder="Votre position">
            </div>
            <div class="form-group">
              <label for="exampleInputEmail1">Adresse Email</label>
              <input name="email" type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Enter email">
              <small id="emailHelp" class="form-text text-muted">Nous gardons vos données en sécurité !</small>
            </div>
            <div class="form-group">
              <label for="exampleInputPassword1">Mot de passe</label>
              <input name="password" type="password" class="form-control" id="exampleInputPassword1" placeholder="Mot de passe">
            </div>
            <div class="form-group">
              <label for="exampleInputPassword1">Confirmation du Mot de passe</label>
              <input name="password" type="password" class="form-control" id="exampleInputPassword1" placeholder="Mot de passe à confirmer">
            </div>
            <button type="submit" class="btn btn-success">Inscriptions</button>
          </form>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Fermer</button>
        </div>
      </div>
    </div>
  </div>
  <!-- END NAV BAR -->

<div class="form-partner">
<div class="container">
  <div class="row partner-header">
    <h1>Bienvenue sur l'espace partenaires</h1>
    <h2>Vous souhaitez proposer une offre de voyage ?</h2>
  </div>
  <div class="row">
    <form class="form-color">
      <div class="form-group row">
        <label class="col-sm-2 col-form-label">Prénom</label>
        <div class="col-sm-10">
          <input type="text" class="form-control" placeholder="Prénom">
        </div>
      </div>
      <div class="form-group row">
        <label class="col-sm-2 col-form-label">Nom</label>
        <div class="col-sm-10">
          <input type="text" class="form-control" placeholder="Nom">
        </div>
      </div>
      <div class="form-group row">
        <label class="col-sm-2 col-form-label">Raison sociale</label>
        <div class="col-sm-10">
          <input type="text" class="form-control" placeholder="Prénom">
        </div>
      </div>
      <div class="form-group row">
        <label class="col-sm-2 col-form-label">Titre du voyage</label>
        <div class="col-sm-10">
          <input type="text" class="form-control" placeholder="Titre du voyage">
        </div>
      </div>
      <div class="form-group">
        <label for="exampleFormControlTextarea1">Description du voyage</label>
        <textarea class="form-control" id="exampleFormControlTextarea1" rows="3"></textarea>
      </div>
      <div class="form-group">
        <label for="exampleFormControlSelect1">Thématique du voyage</label>
        <select class="form-control" id="exampleFormControlSelect1">
          <option>Aventure</option>
          <option>Bien-être</option>
          <option>Découverte</option>
        </select>
      </div>
      <fieldset class="form-group">
         <div class="row">
           <legend class="col-form-label col-sm-2 pt-0">Difficulté</legend>
           <div class="col-sm-10">
             <div class="form-check">
               <input class="form-check-input" type="radio" name="gridRadiosDifficulte" id="gridRadios1" value="difficulte1" checked>
               <label class="form-check-label" for="gridRadios1">
                 <span class="icons-partner"><i class="fas fa-fire"></i></span> Ballade du dimanche
               </label>
             </div>
             <div class="form-check">
               <input class="form-check-input" type="radio" name="gridRadiosDifficulte" id="gridRadios2" value="difficulte2">
               <label class="form-check-label" for="gridRadios2">
                 <span class="icons-partner"><i class="fas fa-fire"></i><i class="fas fa-fire"></i></span> Humble baroudeur
               </label>
             </div>
             <div class="form-check">
               <input class="form-check-input" type="radio" name="gridRadiosDifficulte" id="gridRadios3" value="difficulte3">
               <label class="form-check-label" for="gridRadios3">
                 <span class="icons-partner"><i class="fas fa-fire"></i><i class="fas fa-fire"></i><i class="fas fa-fire"></i></span> Montagnard aguerri
               </label>
             </div>
           </div>
         </div>
       </fieldset>
       <fieldset class="form-group">
          <div class="row">
            <legend class="col-form-label col-sm-2 pt-0">Nombre de personnes</legend>
            <div class="col-sm-10">
              <div class="form-check">
                <input class="form-check-input" type="radio" name="gridRadiosNb" id="gridRadios3" value="nb1" checked>
                <label class="form-check-label" for="gridRadios1">
                  <span class="icons-partner"><i class="fas fa-female"></i></span> 1 à 10 personne(s)
                </label>
              </div>
              <div class="form-check">
                <input class="form-check-input" type="radio" name="gridRadiosNb" id="gridRadios4" value="nb2">
                <label class="form-check-label" for="gridRadios2">
                  <span class="icons-partner"><i class="fas fa-female"></i><i class="fas fa-male"></i></span> 11 à 30 personnes
                </label>
              </div>
              <div class="form-check">
                <input class="form-check-input" type="radio" name="gridRadiosNb" id="gridRadios5" value="nb3">
                <label class="form-check-label" for="gridRadios3">
                  <span class="icons-partner"><i class="fas fa-female"></i><i class="fas fa-male"></i><i class="fas fa-female"></i></span> +30 personnes
                </label>
              </div>
            </div>
          </div>
        </fieldset>
       <fieldset class="form-group">
          <div class="row">
            <legend class="col-form-label col-sm-2 pt-0">Budget à prévoir</legend>
            <div class="col-sm-10">
              <div class="form-check">
                <input class="form-check-input" type="radio" name="gridRadiosBudget" id="gridRadios6" value="budget1" checked>
                <label class="form-check-label" for="gridRadios1">
                  <span class="icons-partner"><i class="fas fa-coins"></i></span> 1 à 500€ / jour / personne
                </label>
              </div>
              <div class="form-check">
                <input class="form-check-input" type="radio" name="gridRadiosBudget" id="gridRadios7" value="budget2">
                <label class="form-check-label" for="gridRadios2">
                  <span class="icons-partner"><i class="fas fa-coins"></i><i class="fas fa-coins"></i></span> 500 à 1000€ / jour / personne
                </label>
              </div>
              <div class="form-check">
                <input class="form-check-input" type="radio" name="gridRadiosBudget" id="gridRadios8" value="budget3">
                <label class="form-check-label" for="gridRadios3">
                  <span class="icons-partner"><i class="fas fa-coins"></i><i class="fas fa-coins"></i><i class="fas fa-coins"></i></span>  +1000€ / jour / personne
                </label>
              </div>
            </div>
          </div>
        </fieldset>
       <div class="form-group row">
          <p>Sélectionner une photo globale d'illustration</p>
          <div class="custom-file">
           <input type="file" class="custom-file-input" id="validatedCustomFile" required>
           <label class="custom-file-label" for="validatedCustomFile">Choix du fichier</label>
         </div>
       </div>
       <div class="form-group row">
          <p>Sélectionner une photo de l'hébergement</p>
          <div class="custom-file">
           <input type="file" class="custom-file-input" id="validatedCustomFile" required>
           <label class="custom-file-label" for="validatedCustomFile">Choix du fichier</label>
         </div>
       </div>
      <div class="form-group row">
        <div class="col-sm-10">
          <button type="submit" class="btn btn-success">Poster</button>
        </div>
      </div>
    </form>
  </div>
</div>
</div>









  <!-- scripts bootstrap javascript -->
  <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.0/umd/popper.min.js" integrity="sha384-cs/chFZiN24E4KMATLdqdvsezGxaGsi4hLGOzlXwp5UZB1LY//20VyM2taTB4QvJ" crossorigin="anonymous"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.0/js/bootstrap.min.js" integrity="sha384-uefMccjFJAIv6A+rW+L4AHf99KvxDjWSu1z9VI8SKNVmz4sk7buKt/6v9KI65qnm" crossorigin="anonymous"></script>

</body>
</html>
